.active_option {
    color: #fff;
    background-color: #c53a24;
}
.disable_div {
    cursor: not-allowed;
    border-color: #efefef;
}
.disable_div::before {
    position: absolute;
}
.slide_card_body {
    height: unset;
    max-height: 500px;
}